.header-sticky {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: #61d63a;

    &__item {
        height: 21px;
        display: flex;
        align-items: center;
        margin-left: 32px;
        font-size: 14px;
        span {
            color: #073328;
        }
        svg {
            margin-top: 2px;
            margin-right: 4px;
            fill: #073328;
        }
    }

    svg {
        height: 16px;
        width: 16px;
    }
}
