.wrapper {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .wrapper--darkGreen {
    position: relative;
    width: 100%;
    background: #073328;
    .wrapper_top {
      position: relative;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;

      max-width: 1200px;
      height: 50px;
      .wrapper_top__phone {
        position: relative;
        display: flex;
        align-items: center;
        color: white;
        svg.css-ewv0me {
          width: 23px;
          height: 23px;
          fill: currentColor;
          color: #fff;
        }
      }
      .wrapper_top__menu {
        position: relative;
        display: flex;
        align-items: center;
        ul {
          position: relative;
          display: flex;
          list-style: none;
          li {
            position: relative;
            display: flex;
            align-items: center;
            flex-grow: 1;
            color: #fff;
            margin-left: 24px;
            cursor: pointer;
            transition: 0.3s all ease;
            &:hover {
              color: #61d63a;
              svg {
                fill: currentColor;
                color: #61d63a;
              }
            }
            &:nth-child(1) {
              margin-left: 0;
              color: #61d63a;
              &:hover {
                color: white;
              }
            }
            svg {
              width: 23px;
              height: 23px;
              padding-top: 3px;
              box-sizing: border-box;
              margin-left: 4px;
              fill: currentColor;
              color: #fff;
              transition: 0.3s all ease;
            }
          }
        }

        .wrapper_top__search {
          display: flex;
          align-items: center;
          svg {
            width: 23px;
            height: 23px;
            fill: currentColor;
            color: #fff;
          }
        }
      }
    }
    .wrapper_bottom {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;

      max-width: 1200px;
      height: 65px;
      .wrapper_bottom__logo {
        position: relative;
        height: 30px;
        width: 115px;
        svg {
          position: relative;
          height: 30px;
          width: 115px;
        }
      }
      .wrapper_bottom__menu {
        position: relative;
        ul {
          display: flex;
          align-items: center;
          list-style: none;
          li {
            color: white;
            display: flex;
            margin-right: 16px;
            align-items: center;
            font-size: 14px;
            cursor: pointer;
            transition: 0.3s all linear;
            &:nth-child(6) {
              margin-right: 0px;
            }
            &:hover {
              color: #61d63a;
              svg {
                fill: currentColor;
                color: #61d63a;
              }
            }
            svg {
              width: 23px;
              height: 23px;
              fill: currentColor;
              color: #fff;
              margin-left: 8px;
            }
          }
        }
      }
    }
  }
  .wrapper_bottom--sticky {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: #61d63a;
    div {
      height: 21px;
      display: flex;
      align-items: center;
      margin-left: 32px;
      font-size: 14px;
      span {
        color: #073328;
      }
      svg {
        margin-top: 2px;
        margin-right: 4px;
        fill: #073328;
      }
    }

    svg {
      height: 16px;
      width: 16px;
    }
  }
}

.vertical-split {
  position: relative;
  border-width: 0;
  border-style: solid;
  border-bottom-width: 0;
  border-right-width: thin;
  color: #fff;
  height: 26px;

  margin: 0 15px;
}
